doctype html
html
  head
    title Saurabh Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="static/img/ballet.png")
                | SDA    
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact us]
            li #[a(href="/") Class info]
    block content
    footer#footer
      | Copyright 2020 &copy; | www.SaurabhDanceAcademy.com  |  All rights reserved!
    